@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
    font-family: Lato;
}
body.dark {
    --primary: rgb(18, 18, 18);
    --secondary: rgb(255, 255, 255);
    --hover: rgb(54, 54, 54);
    --accent-alt: rgb(54, 54, 54);
    background-color: var(--primary);
    --accent: rgb(0, 115, 207);
    --accent-hover: rgb(1, 102, 184);
}
body:not(.dark) {
    --primary: rgb(255, 255, 255);
    --secondary: rgb(47, 47, 47);
    --hover: rgb(235, 235, 235);
    --accent-alt: rgb(54, 54, 54);
    background-color: var(--primary);
    --accent: rgb(0, 115, 207);
    --accent-hover: rgb(1, 102, 184);
}
* {
    transition: background 0.15s ease;
}