@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Lato';
    src:
        url('lib/fonts/lato-regular/lato-regular.woff2?#iefix') format('woff2'),
        url('lib/fonts/lato-regular/lato-regular.woff') format('woff'),
        url('lib/fonts/lato-regular/lato-regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: 
        url('lib/fonts/lato-bold/lato-bold.woff2?#iefix') format('woff2'),
        url('lib/fonts/lato-bold/lato-bold.woff') format('woff'),
        url('lib/fonts/lato-bold/lato-bold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: 
        url('lib/fonts/lato-italic/lato-italic.woff2?#iefic') format('woff2'),
        url('lib/fonts/lato-italic/lato-italic.woff') format('woff'),
        url('lib/fonts/lato-italic/lato-italic.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
}
html, body {
    overflow-x: hidden;
    font-family: Lato;
}

html[data-theme="dark"] {
    --primary: rgb(18, 18, 18);
    --secondary: rgb(255, 255, 255);
    --hover: rgb(54, 54, 54);
    --accent-alt: rgb(54, 54, 54);
    background-color: var(--primary);
    --accent: rgb(0, 115, 207);
    --accentDark: #0b536f;
    --accent-hover: rgb(1, 102, 184);
}

html[data-theme="light"] {
    --primary: rgb(255, 255, 255);
    --secondary: rgb(47, 47, 47);
    --hover: rgb(235, 235, 235);
    --accent-alt: rgb(54, 54, 54);
    background-color: var(--primary);
    --accent: rgb(0, 115, 207);
    --accent-hover: rgb(1, 102, 184);
}
* {
    transition: background 0.15s ease;
}